*{
    font-family: "Poppins", sans-serif;
}

.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logoutBtn{
    background: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.logoutBtn:hover{
    background: gray;  
    cursor: pointer;
}

#add-post-container{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#add-post-container article {
    display: flex;           
    align-items: center;     
    gap: 10px;               
    width: 60%;
    background-color: #fafafa;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #eee;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#add-post-container article div {
    display: flex;
    align-items: center;
}

#add-post-container article div:nth-child(1) { flex: 2; }
#add-post-container article div:nth-child(2) { flex: 1; }
#add-post-container article div:nth-child(3) { width: auto; }

#newPost-text, 
#newPost-image, 
.addPost-btn {
    height: 45px;              
    width: 100%;               
    padding: 0 15px;           
    border: 1px solid #ccc;
    border-radius: 5px;        
    box-sizing: border-box;    
    margin: 0;                
    font-size: 14px;
    line-height: normal;      
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
}

#newPost-text {
    resize: none;              
    padding-top: 12px;         
    overflow: hidden;          
}

.addPost-btn {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0 25px
}

.addPost-btn:hover {
    background-color: #0056b3;
}

#newPost-text{
    resize: none;              
    padding-top: 12px;        
}

.addPost-btn{
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.addPost-btn:hover{
    background-color: #3790ef;
    transition: 1s;
}

#post-container{
    width: 90%;
    border: 1px solid #ccc;
    margin : 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: center;
}

.post-header{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.post{
    width: 60%;
    padding: 15px;
    border: 2px solid #eee;
    border-radius: 10px;
    background-color: #fafafa;
    margin: 20px;
}

.post-user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post-username{
    margin: 0;
}

.post-time{
    margin: 0;
    font-size: 0.9em;
    color: #777;
}

.post-image{
    display: flex;
    justify-content: center;
}

.post-image img{
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.comment{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
}

.comment-user-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-text-container{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.comment-text-container h4, p{
    margin: 0;
}

.comment-text-container h4{
    margin-bottom: 5px;
}   

.new-comment-section{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;
}

.new-comment-input{
    width: 100%;
}

.new-comment-textbox{
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    width: 97%;
}

.new-comment-submit-button{
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.new-comment-submit-button:hover{
    background-color: #3790ef;
    transition: 1s;
}