*{
    font-family: "Poppins", sans-serif;
}

.login-form {
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
    /* margin-top: 50px; */
    background-color: #f9f9f9;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

input[type="text"], input[type="password"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}