*{
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: -1px;
    color: #104E64; 
    background: none;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial;
}

.login-form {
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

input[type="text"], input[type="password"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn {
    padding: 12px 30px;
    background-color: #104E64;
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.login-btn:hover {
    background-color: #0D3E50; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

.error {
    color: red;
    margin-top: 15px;
}

.error h3 {
    text-align: center;
    font-weight: normal;
}

.hidden {
    display: none;
}

.register-link-box {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-link-box a {
    color: #104E64;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.register-link-box a:hover {
    color: #0D3E50;
    text-decoration: underline;
}